/* Reset e fontes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #00B3AA;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Login container */
.login-page {
 height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;   
  align-items: center;      
  background-color: #00B3AA; 
  padding: 1rem;
}

.login-box {
  background-color: #ffffff;
  padding: 2.5rem;
  border-radius: 12px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.05);
  width: 500px;
}

/* Formulário */
.login-form {
  display: flex;
  flex-direction: column;
}

.login-form label {
  margin-bottom: 0.3rem;
  font-weight: 500;
  color: #333;
}

.login-form input {
  padding: 0.75rem;
  margin-bottom: 1.5rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  transition: border 0.3s;
}

.login-form input:focus {
  border-color: #4a89dc;
  outline: none;
}

.login-form button {
  padding: 0.75rem;
  background-color: #009327;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.login-form button:hover {
  background-color: #009327;
}
.user-role {
  margin-bottom: 1.5rem;
}

.user-role label {
  font-weight: 500;
  display: block;
  margin-bottom: 0.5rem;
}

.radio-group {
  display: flex;
  gap: 1rem;
}

.radio-group label {
  font-weight: normal;
}
.login-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  margin-top: 6rem;
  margin-bottom: 2rem;
  color: #2c3e50; /* mesma cor do título da logo, se quiser combinar */
}
.Locadora-title {
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 4rem;
  color: #2c3e50; /* mesma cor do título da logo, se quiser combinar */
}
.site-cabecalho{
width: 100%;
background-color: #00B3AA;
padding: 1rem 2rem;
text-align: justify;
position: fixed;
top: 0;
left: 0;
right: 0;
z-index: 1000;

}
.logo-embaixo {
  margin-top: 2rem;
  width: 120px; /* ajuste o tamanho como quiser */
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.input-group {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.input-group i {
  position: absolute;
  left: 1rem;
  color: #333;
}

.input-group input {
  padding: 0.75rem 0.75rem 0.75rem 2.5rem; /* espaço para o ícone */
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}
.signup-text {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #000;
}

.signup-text a {
  color: #008b94; /* azul suave */
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.signup-text a:hover {
  color: #005e63; /* mais escuro ao passar o mouse */
}
